html {
	background-image: url(images/hintergrund.png);
	background-attachment: fixed;
}
#top img {
	width:100%;
}
#page,footer {
	padding-top: 20px;
	background-color: #efd767; /* Falls die Farbverläufe nicht unterstützt werden, einfach den Hintergrund einfärbig machen */
	background: -webkit-linear-gradient(left, #EBD77A , #E2BE2C);
	background: -o-linear-gradient(left, #EBD77A , #E2BE2C);
	background: -moz-linear-gradient(left, #EBD77A , #E2BE2C);
	background: linear-gradient(left, #EBD77A , #E2BE2C);

}
#main, #sidebar-links {
	padding: 20px;
}
#hauptsponsoren img, #nebensponsoren img {
	float: left;
	margin: 10px;
}
h2 {
	clear: both;
}
input:invalid {
	border-color: rgba(200, 10, 16, 0.8) !important;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset !important;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
 	border: 1px solid rgba(200, 10, 16, 0.5) !important;
}
#navigation nav ul {
	background-color: black;
}
#navigation nav ul li a:hover {
	background-color: darkgray!important;
}
