@font-face {
	font-family: 'Claire Hand';
/*	src: local ('Claire Hand')*/
	src: url( fonts/ClaireHandRegular.woff),
		url( fonts/ClaireHandRegular.svg) format('svg'),
		url( fonts/ClaireHandRegular.ttf) format('truetype'),
		url( fonts/ClaireHandRegular.otf) format('otf');
}

html {
	background-image: url(images/hintergrund.png);
	background-attachment: fixed;
}
#top img {
	width:100%;
	margin-top:10px;
}
#page,footer {
	padding-top: 20px;
	background-color: #efd767; /* Falls die Farbverläufe nicht unterstützt werden, einfach den Hintergrund einfärbig machen */
	background: -webkit-linear-gradient(left, #EBD77A , #E2BE2C);
	background: -o-linear-gradient(left, #EBD77A , #E2BE2C);
	background: -moz-linear-gradient(left, #EBD77A , #E2BE2C);
	background: linear-gradient(left, #EBD77A , #E2BE2C);

}
#main, #sidebar-links {
	padding: 20px;
}
#hauptsponsoren img, #nebensponsoren img {
	float: left;
	margin: 10px;
}
#hauptsponsoren img {
	max-width: 200px;;
}
#nebensponsoren img {
	max-width: 150px;;
}
input:invalid {
	-webkit-box-shadow: rgba(255, 0, 0, 0.3) 5px 5px 7px !important;
	-moz-box-shadow: rgba(255, 0, 0, 0.3) 5px 5px 7px;
	box-shadow: rgba(255, 0, 0, 0.3) 5px 5px 7px;
 	border: 1px solid rgb(255, 0, 0) !important;
}
input:valid,textarea {
	-webkit-box-shadow: rgba(0, 255, 0, 0.3) 2px 2px 7px !important;
	-moz-box-shadow: rgba(0, 255, 0, 0.3) 2px 2px 7px;
	box-shadow: rgba(0, 255, 0, 0.3) 2px 2px 7px;
 	border: 1px solid rgba(0, 255, 0, 0.3) !important;
}
#navigation nav ul {
	background-color: black;
}
#navigation nav ul li a:hover {
	background-color: #A9A9A9!important;
}
#page img {
	margin: 20px;
}
#footer {
	margin-bottom: 5px;
	text-align: center;
}

h1,h2,nav {
	font-family: Claire Hand,Roboto,Arial,Helvetica,sans-serif;;
}
h2 {
	float: left;
	margin-right: 10px;
}
p,small,ul,.clear {
	clear: both;
}
@media print {
	html {
		background: none;
		margin-left: auto;
		margin-right: auto;
	}
	#sidebar-links,.schullogo,iframe {
		display: none;
	}
}
